<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Администрация - Категории </title>
    <th:block th:replace="fragments/common::head"></th:block>
</head>
<body>
<div class="container pt-5">
    <header th:replace="fragments/common::header"></header>

    <div class="row">
        <div class="col text-center">
            <button type="button" class="btn btn-primary" id="category-new-add-btn" onclick="addCategoryModal()">
                Нова категория
            </button>
        </div>
    </div>

    <div class="row" id="categories"></div>

    <footer th:replace="fragments/common::footer"></footer>
</div>
<div class="modal fade" id="category-edit-modal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Редакция на категория </h5>
                <button type="button" class="close category-edit-modal-close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="category-edit-form">
                <input type="hidden" id="category-edit-id" name="category-edit-id">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="category-edit-name">Категория</label>
                        <input type="text" class="form-control" id="category-edit-name"/>
                    </div>
                    <div class="form-group">
                        <label for="category-edit-color">Цвят: </label>
                        <input type="color" id="category-edit-color">
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <small id="modal-edit-alert" class="alert alert-success text-center rounded-pill" role="alert"
                               style="display: none"></small>
                    </div>
                    <div id="alert-modal-edit-category" class="alert-danger" style="display: none"></div>
                    <button type="button" class="btn btn-secondary category-edit-modal-close" data-dismiss="modal">
                        Затвори
                    </button>
                    <button type="button" class="btn btn-primary" id="category-edit-save-btn"
                            onclick="saveCategory()">Запиши промените
                    </button>
                    <button type="button" class="btn btn-danger" id="category-edit-delete-btn"
                            onclick="deleteCategory()" style="display: none">Изтрий
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="category-add-modal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Добавяне на категория </h5>
                <button type="button" class="close category-add-modal-close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="category-add-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="category-add-name">Категория</label>
                        <input type="text" class="form-control" id="category-add-name"/>
                    </div>
                    <div class="form-group">
                        <label for="category-add-color">Цвят: </label>
                        <input type="color" id="category-add-color">
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                    <small id="modal-add-alert" class="alert alert-success text-center rounded-pill" role="alert"
                           style="display: none"></small>
                    </div>
                    <div id="alert-modal-category-add" class="alert-danger" style="display: none"></div>
                    <button type="button" class="btn btn-secondary category-add-modal-close"
                            data-dismiss="modal">
                        Затвори
                    </button>
                    <button type="button" class="btn btn-primary" id="category-add-save-btn"
                            onclick="addCategory()">Добави
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/admin/categories.js}"></script>
</body>
</html>