<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Администрация - Роли </title>
    <th:block th:replace="fragments/common::head"></th:block>
</head>
<body>
<div class="container pt-5">
    <header th:replace="fragments/common::header"></header>

    <div class="row">
        <div class="col text-center">
            <span><button type="button" class="btn-sm btn-primary" data-toggle="modal" id="add-role-button"
                          data-target="#addRoleModal">
            Добави </button></span>
        </div>
    </div>
    <div class="row" id="roles"></div>

    <div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="editItemModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавяне на роля</h5>
                    <button type="button" class="close add-role-modal-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="modal-role-name">Име на ролята:</label>
                        <input type="text" class="form-control" id="modal-role-name" placeholder="Име на ролята">
                    </div>
                    <div id="modal-page-alert" class="alert-danger" style="display: none"></div>
                    <div class="p-2" id="modal-capabilities-list"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="role-add-modal">Добави роля</button>
                    <button type="button" class="btn btn-secondary add-role-modal-close" data-dismiss="modal">Затвори
                    </button>

                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/common::footer"></footer>
</div>
<script th:src="@{/js/admin/roles.js}"></script>
</body>
</html>