<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Администрация - Потребители </title>
    <th:block th:replace="fragments/common::head"></th:block>
</head>
<body>
<div class="container-fluid pt-5">
    <header th:replace="fragments/common::header"></header>

    <div class="row">
        <div class="col-12 col-md-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
            <table id="table-users" class="display table table-sm table-hover w-100">
                <thead>
                <tr>
                    <th scope="col" class="text-start">Регистриран</th>
                    <th scope="col" class="text-start">Активен</th>
                    <th scope="col" class="text-center">Емайл</th>
                    <th scope="col" class="text-end">Бележки</th>
                    <th scope="col" class="text-end">Сума</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="col-12 col-md-12 col-sm-12 offset-md-1 offset-lg-1 offset-xl-1 offset-xxl-1 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div id="form-container" style="display: none">
                <form class="">
                    <div class="row p-2">
                        <div class="col-2">
                            <img referrerpolicy="no-referrer" id="profile-picture" src="#" class="img-thumbnail"
                                 alt="Профилна снимка"/>
                        </div>
                        <div id="form-role-checkboxes" class="col-10"></div>
                    </div>
                    <div class="row p-2">
                        <div class="col-6 text-end form-group">
                            <label for="form-email">Имейл:</label>
                            <input type="text" id="form-email" name="Имейл" disabled/>
                        </div>
                        <div class="col-6 text-end form-group">
                            <label for="form-display-name">Показвано име:</label>
                            <input type="text" id="form-display-name" name="Показвано име"/>
                        </div>
                        <div class="col-6 text-end form-group">
                            <label for="form-first-name">Име:</label>
                            <input type="text" id="form-first-name" name="Име"/>
                        </div>
                        <div class="col-6 text-end form-group">
                            <label for="form-last-name">Фамилия:</label>
                            <input type="text" id="form-last-name" name="Фамилия"/>
                        </div>
                    </div>
                    <div class="row p-2 justify-content-end">
                        <div class="col-3 form-group">
                            <label for="form-email-verified">Проверен имейл:</label>
                            <input type="checkbox" id="form-email-verified" name="Проверен имйел">
                        </div>
                        <div class="col-2 form-group">
                            <label for="form-google-id">Гугъл ИД:</label>
                            <input disabled type="checkbox" id="form-google-id" name="Гугъл ИД">
                        </div>
                        <div class="col-2 form-group">
                            <label for="form-enabled">Активиран:</label>
                            <input type="checkbox" id="form-enabled" name="Активиран">
                        </div>
                        <div class="col-4 form-group">
                            <label for="form-email-disabled">Забранен достъм с имейл: </label>
                            <input type="checkbox" id="form-email-disabled" name="Забранено влизане с имейл">
                        </div>
                        <div class="row p-2 justify-content-end">
                            <div class="text-end w-auto col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5 form-group">
                                <label for="form-registered-on">Регистриран на: </label>
                                <input style="width: 204px" disabled type="datetime-local" id="form-registered-on"
                                       name="Регистриран на">
                            </div>
                            <div class="text-end w-auto col-12 col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xxl-7 form-group">
                                <label for="form-last-seen">Последно влизане: </label>
                                <input style="width: 204px" disabled type="datetime-local" id="form-last-seen"
                                       name="Последно активен">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-6 text-center">
                                <button type="button" onclick="saveUserDetails()" class="btn btn-primary">Запази
                                </button>
                                <button type="button" onclick="deleteUserDetails()" class="btn btn-danger">Изтрий
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/common::footer"></footer>
</div>
<script th:src="@{/js/admin/users.js}"></script>
</body>
</html>