<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Бележка - Добавяне </title>
    <th:block th:replace="fragments/common::head"></th:block>
</head>
<body>
<div class="container pt-5">
    <header th:replace="fragments/common::header"></header>
    <h1>Добавяне на касови бележки</h1>
    <div class="row">
        <div class="d-flex justify-content-center mt-3">
            <div class="alert-success" th:if="${message} != null" th:text="${message}"></div>
            <form th:method="POST" enctype="multipart/form-data" th:action="@{/receipt/add}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="form-group">
                    <button id="btn-upload" class="btn btn-primary" type="button" onclick="file_upload()">
                        Качи <span id="spinner-upload" class="spinner-border spinner-border-sm d-none" role="status"
                                   aria-hidden="true"></span>
                    </button>
                    <span class="custom-file">
                    <label for="customFile" class="form-label">Касови бележки: </label>
                    <input type="file" multiple class="form-control" id="customFile" name="file" accept="image/*">
                </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-center">
                <small  id="alert" class="alert alert-success text-center rounded-pill" role="alert" style="display: none"></small>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/common::footer"></footer>
    <script th:src="@{/js/receipt/add.js}"></script>
</div>
</body>
</html>