<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Бележка - Добавяне </title>
    <th:block th:replace="fragments/common::head"></th:block>
</head>
<body>
<div class="container pt-5">
    <header th:replace="fragments/common::header"></header>
    <h1>Добавяне на касова бележка</h1>
    <div class="row">
        <div class="d-flex justify-content-center mt-3">
            <div class="alert-success" th:if="${message} != null" th:text="${message}"></div>
            <form method="POST" enctype="multipart/form-data" action="/receipts/add">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="form-group">
                    <button id="btn-upload" class="btn btn-primary" type="button" onclick="file_upload()">
                        Качи <span id="spinner-upload" class="spinner-border spinner-border-sm d-none" role="status"
                                   aria-hidden="true"></span>
                    </button>
                    <span class="custom-file">
                    <label for="customFile" class="form-label">Касови бележки: </label>
                    <input type="file" multiple class="form-control" id="customFile" name="file" accept="image/*">
                </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-center">
                <small  id="alert" class="alert alert-success text-center rounded-pill" role="alert" style="display: none"></small>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/common::footer"></footer>
    <script th:inline="javascript">

       liveUpdatesInit();

        function file_upload() {
            let upBtn = $('#btn-upload');
            upBtn.disabled = true;
            let spinner = $('#spinner-upload');
            spinner.removeClass('d-none');

            let xhr = new XMLHttpRequest();
            let data = new FormData();

            input = document.getElementById('customFile');
            let alert = $('#alert');
            if (!input.value) {

                newPageAlert("Не сте избрали касови бележки!", "danger");

                upBtn.disabled = false;
                spinner.addClass('d-none');
                return;
            }
            for (let f of input.files) {
                data.append('file', f);
            }
            xhr.open("post", "/api/receipts/add");
            // xhr.channel.QueryInterface(Components.interfaces.nsIHttpChannel).redirectionLimit = 0;
            // xhr.channel.QueryInterface(Components.interfaces.nsIHttpChannel).redirectionLimit = 0;
            xhr.setRequestHeader([[${_csrf.headerName}]], [[${_csrf.token}]]);
            xhr.send(data);

        xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        if (xhr.responseURL.includes('/user/login')) {
                            location.reload();
                            return;
                        }
                        sleep(4000).then(() => {
                            if (uploadErrors) {
                                newPageAlert('Има грешки при качването на касовите бележки!',
                                    'warning', true);
                                uploadErrors = false;
                            } else {
                                newPageAlert('Качването на касовите бележки е успешно!', 'success', true);
                            }
                            spinner.css('display', 'none');

                        });
                        upBtn.disabled = false;
                        spinner.css('display', 'none');
                    } else{
                        try {
                            newPageAlert(JSON.parse(xhr.responseText).message, "danger", true);
                        } catch (e) {
                            location.reload();
                        }
                        upBtn.disabled = false;
                        spinner.css('display', 'none');
                    }
                }
            };
        }
    </script>
</div>
</body>
</html>