<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Бележки - Всички </title>
    <th:block th:replace="fragments/common::head"></th:block>
</head>
<body>
<div class="container pt-5">
    <header th:replace="fragments/common::header"></header>
    <div class="row">
        <div class="col text-center">
            <form id="receipt-form"
                  enctype="multipart/form-data">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <label for="receipt-upload" class="form-label btn btn-primary">Качи касова бележка
                    <span id="spinner-upload" class="spinner-border spinner-border-sm d-none" role="status"
                          aria-hidden="true"></span>
                </label>
                <input class="form-control" type="file" id="receipt-upload"
                       style="visibility: hidden" name="file" accept="image/*"
                       onchange="uploadReceipt(this);">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="receipts-table" class="display table table-sm table-hover w-100">
                <thead>
                <tr>
                    <th>ID</th>
                    <th scope="col" class="text-start">Дата</th>
                    <th scope="col" class="text-end">Сума</th>
                    <th scope="col" class="text-center">Категории</th>
                    <th scope="col" class="text-center">Търговец</th>
                    <th scope="col" class="text-center">Магазин</th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <footer th:replace="fragments/common::footer"></footer>
</div>
</body>
<script th:src="@{/js/receipt/all.js}"></script>
</html>