<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Бележка - Детайли </title>
    <th:block th:replace="fragments/common::head"></th:block>
</head>
<body>
<div class="container pt-5">
    <header th:replace="fragments/common::header"></header>
    <div class="row">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <img alt="Касова бележка" th:src="${receipt.imageUrl}" id="receipt" class="img-thumbnail w-100"/>
        </div>
        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 pt-4">
            <div id="map" class="w-100" style="height: 400px"></div>
            <div class="text-end">
                <button id="receipt-edit-btn" class="btn-sm btn-secondary my-2">Редактирай</button>
                <button id="receipt-save-btn" style="display: none" class="btn-sm btn-primary my-2">Запиши</button>
                <button id="receipt-cancel-btn" style="display: none" class="btn-sm btn-danger my-2">Отказ</button>

            </div>
            <div>
                <strong>Фирма: </strong>
                <span id="receipt-company-name" th:text="${receipt.companyName}"></span>
            </div>
            <div>
                <strong>Адрес: </strong>
                <span id="receipt-company-address" th:text="${receipt.companyAddress}"></span>
            </div>
            <div>
                <strong> ЕИК: </strong>
                <span id="company-eik" th:text="${receipt.companyEik}"></span>
            </div>
            <div>
                <strong> Име на магазин: </strong>
                <span id="store-name" th:text="${receipt.storeName}"></span>
            </div>
            <div>
                <strong> Адрес на магазин: </strong>
                <span id="store-address" th:text="${receipt.storeAddress}"></span>
            </div>
            <div>
                <strong> Дата:</strong>
                <span id="receipt-date" th:data-date="${receipt.date}"
                      th:text="${#temporals.format(receipt.date,'dd-MM-yyyy HH:mm')}"></span>
            </div>
            <div class="pt-3">
                <strong> Обща сума:</strong>
                <span id="receipt-total" th:text="${receipt.total}"></span>
                <span th:text="|(Артикули: ${receipt.itemsTotal})|"></span>
            </div>
            <div class="pt-4">
                <div id="alert" style="display: none" class="alert alert-danger alert-dismissible fade show"
                     role="alert">
                </div>
                <table id="items-table" class="display table table-sm table-hover" style="width: 100%">
                    <thead>
                    <tr>
                        <th scope="col" class="text-start">#</th>
                        <th scope="col" class="text-start">Категория</th>
                        <th scope="col" class="text-start">Артикул</th>
                        <th scope="col" class="text-end">Количество</th>
                        <th scope="col" class="text-end">Цена</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" id="item-add-btn">Добави артикул</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editItemModal" tabindex="-1" role="dialog" aria-labelledby="editItemModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редакция на артикул</h5>
                    <button type="button" class="close edit-item-modal-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="edit-item-form">
                    <input type="hidden" name="edit-item-position" id="edit-item-position" value=""/>
                    <input type="hidden" id="edit-item-receipt-id" name="edit-item-receipt-id" th:value="${receipt.id}">
                    <div class="modal-body">
                        <label for="edit-item-category">Категория</label>
                        <select type="text" class="form-control" id="edit-item-category"></select>
                        <div class="form-group">
                            <label for="edit-item-name">Артикул</label>
                            <input type="text" class="form-control" id="edit-item-name" placeholder="Артикул">
                        </div>
                        <div class="form-group">
                            <label for="edit-item-quantity">Количество</label>
                            <input type="number" step="0.001" min="0.001" class="form-control" id="edit-item-quantity"
                                   placeholder="Количество">
                        </div>
                        <div class="form-group">
                            <label for="edit-item-price">Цена</label>
                            <input type="number" step="0.01" min="0.01" class="form-control" id="edit-item-price"
                                   placeholder="Цена">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div id="alert-modal-edit-item" class="alert-danger" style="display: none"></div>
                        <button type="button" class="btn btn-secondary edit-item-modal-close" data-dismiss="modal">
                            Затвори
                        </button>
                        <button type="submit" class="btn btn-primary">Запиши промените</button>
                        <button type="button" id="edit-item-delete" class="btn btn-danger">Изтрий</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавяне на артикул</h5>
                    <button type="button" class="close add-item-modal-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="add-item-form">
                    <input type="hidden" id="add-item-receipt-id" name="add-item-receipt-id" th:value="${receipt.id}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="add-item-category">Категория</label>
                            <select type="text" class="form-control" id="add-item-category"></select>
                        </div>
                        <div class="form-group">
                            <label for="add-item-name">Артикул</label>
                            <input type="text" class="form-control" id="add-item-name" placeholder="Артикул">
                        </div>
                        <div class="form-group">
                            <label for="add-item-quantity">Количество</label>
                            <input type="number" step="0.001" min="0.001" class="form-control" id="add-item-quantity"
                                   placeholder="Количество">
                        </div>
                        <div class="form-group">
                            <label for="add-item-price">Цена</label>
                            <input type="number" step="0.01" min="0.01" class="form-control" id="add-item-price"
                                   placeholder="Цена">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div id="alert-modal-item-add" class="alert-danger" style="display: none"></div>
                        <button type="button" class="btn btn-secondary add-item-modal-close" data-dismiss="modal">
                            Затвори
                        </button>
                        <button type="submit" class="btn btn-primary" id="item-modal-add-btn">Добави артикул</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/common::footer"></footer>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var thisReceiptId = [[${receipt.id}]]
        var receiptStoreAddress = [[${receipt.storeAddress}]]
        /*]]>*/
    </script>
    <script th:src="@{/js/receipt/details.js}"></script>
    <script async
            th:src="'https://maps.googleapis.com/maps/api/js?key=' +
            ${googleMapsApiKey} +'&callback=initMap&libraries=places&v=weekly'">
    </script>
</div>

</body>
</html>