<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Политика за поверителност </title>
    <th:block th:replace="fragments/common::head"></th:block>
</head>
<body>
<div class="container pt-5">
    <header th:replace="fragments/common::header"></header>
    <div class="row">
        <div class="col">
            <h2>Политика за поверителност</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ol type="A">
                <li>
                    <h4>
                        Въведение
                    </h4>
                    <ol type="1">
                        <li>
                            Поверителността на уебсайта ни е много важна за нас и сме ангажирани да я пазим.
                            Тази полица обяснява какво ще направим с личните ви данни.
                        </li>
                        <li>
                            Съгласието за нашата употребата на бисквитки в съответствие с условията на тази полица,
                            когато посетите сайта ни за пръв път, ни позволява да използваме бисквитки всеки път,
                            в който посещавате уебсайта ни.
                        </li>
                    </ol>
                </li>
                <li>
                    <h4>
                        Заслуги
                    </h4>
                    Този документ бе създаден, използвайки шаблон от SEQ Legal (seqlegal.com)
                    И модифициран от Website Planet (www.websiteplanet.com)
                    <br></li>
                <li>
                    <h4>
                        Следните видове лична информация може да бъдат събирани, съхранявани и използвани:
                    </h4>
                    <ol type="1">
                        <li>
                            информация за компютъра ви, включваща вашия IP адрес, географско местоположение,
                            тип и версия на браузъра ви и операционна система;
                        </li>
                        <li>
                            информация за посещенията ви и употребата на този уебсайт,
                            включително референтния източник, продължителност на посещение,
                            гледания на страници и уебсайт навигация;
                        </li>
                        <li>
                            информация като имейл адреса ви, която въвеждате, когато се регистрирате в нашия уебсайт;
                        </li>
                        <li>
                            информация, която въвеждате, когато създавате профил в нашия уебсайт – например името ви,
                            профилна снимка.
                        </li>
                        <li>
                            информация, която въвеждате, докато използвате услугите на нашия уебсайт;
                        </li>
                        <li>
                            информация, генерирана докато използвате нашия уебсайт, включително кога,
                            колко често и при какви обстоятелства го използвате;
                        </li>
                        <li>
                            информация, свързана с всичко, което закупувате,
                            услугите, които използвате или трансакции, които правите чрез нашия уебсайт,
                        </li>
                        <li>
                            информация, която публикувате в нашия уебсайт, с намерението да се публикува в интернет,
                            която включва потребителското ви име, профилна снимка и съдържанието на публикациите ви;
                        </li>
                        <li>
                            информация, съдържаща се във всяка комуникация с нас,
                            изпратена ни чрез имейл или чрез уебсайта ни,
                            включително съдържанието на комуникацията и метаданните;
                        </li>
                        <li>
                            всяка друга лична информация, която ни изпращате.
                        </li>
                    </ol>
                    <br>
                    Преди да ни разкриете личните данни на друг човек, трябва да получите съгласието му
                    за това разкритие и за обработката на тази лична информация в съответствие с тази полица
                    <br></li>
                <li>
                    <h4>
                        Използване на личната ви информация
                    </h4>
                    Лична информация, подадена до нас чрез уебсайта ни, ще бъде използвана за целите,
                    уточнени в тази полица или в съответните страници на уебсайта.
                    Може да използваме личната ви информация за:
                    <ol type="1">
                        <li>
                            администриране на нашите уебсайт и бизнес;
                        </li>
                        <li>
                            персонализиране на уебсайта ни за вас;
                        </li>
                        <li>
                            активиране на употребата ви на услуги, налични в уебсайта ни;
                        </li>
                        <li>
                            да ви изпращаме немаркетингови рекламни комуникации;
                        </li>
                        <li>
                            да ви изпращаме имейл известия, които конкретно сте заявили;
                        </li>
                        <li>
                            осигуряване на статистическа информация за потребителите ни на трети лица
                            (но тези трети лица няма да могат да идентифицират отделните потребители
                            от тази информация);
                        </li>
                        <li>
                            справяне със запитвания и оплаквания, направени от или за вас,
                            които са свързани с уебсайта ни;
                        </li>
                        <li>
                            предпазване на уебсайта ни и предотвратяване на измама;
                        </li>
                        <li>
                            потвърждение на съгласие с нашите правила и условия, ръководени от употребата на уебсайта ни
                        </li>
                        <li>
                            други цели.
                        </li>
                    </ol>
                    <p>Ако предоставите лична информация за публикуване в уебсайта ни, ние ще публикуваме
                        и в противен случай ще използваме тази информация в съответствие с разрешението,
                        което ни давате.</p>
                    <p>
                        Личните ви настройки могат да се използват за ограничаване на публикуването
                        на вашата информация в уебсайта ни и могат да бъдат регулирани
                        с помощта на управлението на сайта ни.
                    </p>
                    <p>
                        Ние няма да предоставим личната ви информация на трети лица
                        за техния или нечий друг директен маркетинг без вашето изрично съгласие.
                    </p>
                </li>

            </ol>

        </div>
    </div>
<!--    https://www.websiteplanet.com/bg/blog/%D1%81%D1%8A%D0%B3%D0%BB%D0%B0%D1%81%D1%83%D0%B2%D0%B0%D0%B9%D1%82%D0%B5-%D0%B2%D0%B0%D1%88%D0%B8%D1%82%D0%B5-%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0-%D0%B7%D0%B0-%D0%BF%D0%BE%D0%B2%D0%B5%D1%80/-->
    <footer th:replace="fragments/common::footer"></footer>
</div>

</body>
</html>