<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title> Общи условия </title>
  <th:block th:replace="fragments/common::head"></th:block>
</head>
<body>
<div class="container pt-5">
  <header th:replace="fragments/common::header"></header>
    <div class="row">
      <div class="col">
        <h1>Общи условия</h1>
      </div>
    </div>
  <div class="row">
    <div class="col">
      <p>Сайта не носи отговорност за предоставяните от него услуги.</p>
      <p>Сайта не носи отговорност за предоставяната от него информация.</p>
    </div>
  </div>
  <footer th:replace="fragments/common::footer"></footer>
</div>

</body>
</html>