<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Потребител - Детайли </title>
    <th:block th:replace="fragments/common::head"></th:block>
</head>
<body>
<div class="container pt-5">
    <header th:replace="fragments/common::header"></header>
    <main th:object="${user}">
        <div class="row pt-4">
            <div class="col-4 text-end">
                <div class="">
                    <img alt="Профилна снимка" th:src="*{picture}" class="img-thumbnail" style="width: 96px; height: 96px">
                </div>
                <div class="pt-2">
                    <h5 th:text="*{displayName}"></h5>
                </div>
            </div>
            <div class="col-8 text-start">
                <div class="row">
                    <div class="">
                        <h1 th:text="|*{firstName} *{lastName}|"></h1>
                        <h2 th:text="*{email}"></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>
                            <span th:text="|Регистриран: *{#temporals.format(registeredOn, 'dd-MM-yyyy')}|"></span>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a th:href="@{/user/details/edit}" class="btn btn-primary">Редакция</a>
                        <th:block th:if="${user.emailLoginDisabled} == true">
                        <a th:href="@{/user/details/password/set}" class="btn btn-primary">Задаване на парола</a>
                        </th:block>
                        <th:block th:unless="${user.emailLoginDisabled} == true">
                            <a th:href="@{/user/details/password/change}" class="btn btn-primary">Смяна на парола</a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/common::footer"></footer>
</div>
</body>
</html>