<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <title>Receipts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5YB6KVTFG5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-5YB6KVTFG5');
    </script>
</head>
<body>

<header th:fragment="header">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">Касови бележки</a>
            <span class="w-100"></span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container-fluid">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-nowrap">
                        <th:block sec:authorize="isAnonymous()">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">Начало</a>
                        </li>
                        </th:block>
                        <th:block sec:authorize="isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/}">Разходи</a>
                            </li>
                            <li sec:authorize="hasAuthority('CAP_ADD_RECEIPT')" class="nav-item">
                                <a class="nav-link" th:href="@{/receipt/add}">Добави</a>
                            </li>
                            <li sec:authorize="hasAnyAuthority('CAP_LIST_RECEIPTS', 'CAP_LIST_ALL_RECEIPTS')"
                                class="nav-item">
                                <a class="nav-link" th:href="@{/receipt/all}">Всички</a>
                            </li>
                            <li sec:authorize="hasAuthority('CAP_ADMIN')" class="nav-item">
                                <a class="nav-link" th:href="@{/admin/}">Администрация</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" th:href="@{/user/details}"
                                   th:text="${#authentication.getPrincipal().getDisplayName()}">User</a>
                            </li>
                            <li class="nav-item">
                                <form th:action="@{/user/logout}" method="post">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                    <button class="btn btn-secondary" type="submit">Изход</button>
                                </form>
                            </li>
                        </th:block>
                        <li sec:authorize="isAnonymous()" class="nav-item">
                            <a class="text-white btn btn-secondary" th:href="@{/user/login}">Вход</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--    <div class="col">-->
        <!--        <h1 class="display-1 text-center">Receipts</h1>-->
        <!--    </div>-->
    </div>
    <div class="row m-1">
        <div class="col">
            <div class="">
                <a href="#" onclick="history.back()">Назад</a> -
                <strong id="document-title"></strong>
                <small id="page-alert" class="alert d-inline-block d-none alert-success text-center rounded-pill"
                       role="alert"
                       style="display: none"></small>
            </div>
        </div>
    </div>
</header>

<footer th:fragment="footer">
    <div class="row pt-5">
        <div class="col text-center">
            ©
            <th:block th:text="${#dates.format(#dates.createNow(), 'yyyy')}"/>
            Зинови Бояджиев.
            Всички права запазени.
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a th:href="@{/legal/terms-and-conditions}">Общи условия</a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a th:href="@{/legal/privacy-policy}">Политика за поверителност</a>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var csrfHeader;
        var csrfToken;
        var isAuthenticated;

        /*[# sec:authorize='isFullyAuthenticated()']*/
        csrfHeader = [[${_csrf.headerName}]];
        csrfToken = [[${_csrf.token}]];

        isAuthenticated = true;
        /*[/]*/

    </script>
    <script th:src="@{/js/lib/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/chart.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/sockjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/stomp.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>

</footer>
</body>
</html>