<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Грешка при изпащане на имейла</title>
    <th:block th:replace="fragments/common::head"></th:block>
</head>
<body>
<div class="container pt-5">
    <header th:replace="fragments/common::header"></header>

    <h4>Проблем с проверка на електронната поща</h4>
    <p><strong th:if="${error}" th:text="${error}"></strong></p>

    <footer th:replace="fragments/common::footer"></footer>
</div>
</body>
</html>